@import '@common/styles/common.scss';

.search-pane {
  display: flex;
  flex-direction: column;
  min-width: 290px;
  width: 290px;
  border-right: 1px solid #d7d8da;

  &-header,
  .meta-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray-200;

    &-centered {
      justify-content: center;

      > .search-button {
        width: 100%;
        height: $btn-height;
        border-radius: calc($btn-height / 2);
        line-height: $btn-height;

        &:disabled {
          background-color: $gray-200;
        }
      }
    }
  }

  &-header {
    height: 2.75rem;
    min-height: 2.75rem;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.03);

    &-title {
      font-size: 0.875rem;
    }
  }

  &-content {
    padding: 0 1rem 0.75rem 1rem;
    overflow-y: auto;

    .primary-search {
      width: 100%;
    }
  }

  .meta-controls {
    padding-bottom: 0.75rem;
  }

  .header-caret {
    height: 12px;
    transform: rotate(-90deg);
  }

  .inputs {
    padding: 16px 0 12px 0;
    display: flex;
    flex-direction: column;

    .select-input,
    .text-input {
      border-radius: 0;
      border: 1px solid gray;
      padding: 4px;
    }

    .text-input {
      margin-top: -1px;
      padding: 4px 5px;
      height: 26px;
    }

    .select-textarea {
      margin-top: -1px;
    }
  }

  .meta-controls {
    padding: 8px 0;
  }

  .controls {
    padding-top: 12px;

    .input-group {
      label {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
