@use '@common/styles/common.scss' as *;

.search-segments {
  margin: 15px 0 0;
}

.search-segment-button {
  &.button-highlighted {
    z-index: 100;
    border: 1px solid $blue-500;
  }

  &.button-primary {
    border: 1px solid $blue-400;
    box-shadow: none;
  }
}
