@use '@common/styles/common.scss' as *;

.dropdown {
  position: relative;
  display: inline-block;

  &-button {
    display: flex;
    align-items: center;
    padding: 3px 1rem;
    border: 1px solid $buttonHighlighted;
    border-radius: 12px;
    font-size: 0.875rem;
    font-weight: 700;
    background-color: $buttonHighlighted;
    color: $base;
    cursor: pointer;

    &-label {
      margin-right: 10px;
    }

    &.expanded {
      .dropdown-icon {
        transform: rotateX(180deg);
      }
    }
  }

  &-options {
    position: absolute;
    top: 27px;
    right: 0;
    width: max-content;
    padding: 15px 10px;
    border: 1px solid $gray-200;
    border-radius: 4px;
    background-color: $base;
    z-index: 1;

    &.expanded {
      display: block;
    }

    &.collapsed {
      display: none;
    }

    &-group {
      &-label {
        margin-bottom: 0.5rem;
        font-size: 0.855rem;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.62);
      }
    }

    &-button {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 0.5rem;
      padding: 2px 5px;
      border: 1px solid transparent;
      border-radius: 12px;
      background-color: transparent;
      font-size: 0.875rem;
      font-weight: 700;
      color: #000;
      cursor: pointer;

      &:last-child {
        margin-bottom: 0;
      }

      &-icon {
        margin: 1px 0.75rem 0 0;
        fill: #000;

        path {
          fill-opacity: 1;
        }
      }

      &:disabled {
        opacity: 0.5;
        cursor: default;
      }

      &:hover {
        background-color: $buttonHover;

        &:disabled {
          background-color: transparent;
        }
      }

      &:focus {
        border-color: rgba(0, 0, 0, 0.2);
        background-color: $buttonFocus;
        box-shadow: 0 0 0 3px $buttonFocus;
      }

      &:active {
        border-color: rgba(0, 0, 0, 0.2);
        background-color: $buttonHighlighted;
        color: $base;
        text-decoration: none;

        .dropdown-options-button-icon path {
          fill: $base;
        }

        &:disabled {
          border: none;
          background-color: transparent;
          color: #000;

          .dropdown-options-button-icon path {
            fill: #000;
          }
        }
      }
    }
  }
}
