@use '@/common/styles/common.scss' as *;

.dropdown {
  position: relative;
  display: inline-block;

  &-button {
    font-size: 0.875rem;

    &-label {
      margin-right: 10px;
    }

    &.expanded {
      .dropdown-icon {
        transform: rotateX(180deg);
      }
    }
  }

  &-options {
    position: absolute;
    top: 27px;
    right: 0;
    width: max-content;
    padding: 15px 10px;
    border: 1px solid $gray-200;
    border-radius: 4px;
    background-color: $base;
    z-index: 1;

    &.expanded {
      display: block;
    }

    &.collapsed {
      display: none;
    }

    &-group {
      &-label {
        margin-bottom: 0.5rem;
        font-size: 0.855rem;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.62);
      }
    }

    &-button {
      width: 100%;
      justify-content: flex-start;
      margin-bottom: 0.5rem;
      border-radius: 18px;
      font-size: 0.875rem;
      font-weight: 700;

      &:last-child {
        margin-bottom: 0;
      }

      &-icon {
        fill: #000;

        path {
          fill-opacity: 1;
        }
      }
    }
  }
}
