#editor-root {
  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 41px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.8rem;

    &-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
      border-radius: 2rem;

      svg {
        margin-top: 1px;
      }

      path {
        fill: #000;
      }

      &:disabled path {
        fill: #e0dfdf;
      }
    }

    &-count {
      font-weight: 600;
    }
  }
}
