@use '@common/styles/common.scss' as *;

.field-with-meta-controls-container {
  display: flex;
  align-items: center;

  &-extended {
    flex-direction: column;
    gap: 0.313rem;
  }

  .extended-layout-meta,
  .extended-layout-group {
    display: flex;
    align-self: flex-start;
    align-items: center;
    width: 100%;

    .label {
      width: 100%;
    }
  }

  .children-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .label {
    width: 11.25rem;
    min-width: 11.25rem;
    margin-right: 0.5rem;
    justify-self: flex-start;
    font-weight: bold;
    font-size: 0.919rem;
  }

  .controls-container {
    display: flex;
    align-items: center;
  }
}

.edit-section-group:has(.field-hidden-by-settings) {
  display: none;
}

// UILD-685: placeholder, further refine display of fields added by profile/settings drift
.edit-section-passive .edit-section-group:has(.field-visible-by-drift) {
  background-color: $gray-300;
}
