@use '@/common/styles/common.scss' as *;

.profiles-list {
  display: block;
  min-width: 300px;
  max-width: 300px;
  height: 100%;

  &.hidden {
    display: none;
  }

  .nav {
    background-color: $gray-50 !important;
  }

  .nav .heading,
  .profiles {
    padding: 0 15px;
  }

  .profiles {
    padding-top: 5px;

    .resource-title {
      font-weight: 600;
      padding: 10px 0;
    }

    .profile {
      background-color: $title-bar-bg-color;
      text-decoration: none;

      .button-list-item {
        font-weight: 600;
        font-size: 0.919rem;
      }
    }

    .profile.selected {
      background-color: $gray-600;

      .button {
        color: $base;
      }

      .button-link {
        text-decoration: none;
      }
    }
  }
}

@media screen and (width < 768px) {
  .profiles-list {
    max-width: 100%;
    width: 100%;
  }
}
