@use '@common/styles/common.scss' as *;

.profiles-list {
  min-width: 300px;
  max-width: 300px;
  height: 100%;

  .nav {
    background-color: $gray-100 !important;
  }

  .nav .heading,
  .profiles {
    padding: 0 15px;
  }

  .profiles {
    .resource-title {
      padding: 4px 0;
    }

    .profile {
      background-color: $title-bar-bg-color;
      text-decoration: none;
    }

    .profile.selected {
      background-color: $gray-600;

      .button {
        color: $base;
      }

      .button-link {
        text-decoration: none;
      }
    }
  }
}
