.complex-lookup {
  display: flex;
  align-items: center;
  max-width: 100%;

  &-value {
    flex: 1;
  }

  &-select-button {
    padding: 0.25rem 1rem;
    border: none;
    font-weight: 700;
    color: #1960a4;
    cursor: pointer;
  }

  &-selected {
    display: flex;
    align-items: center;
    margin: 4px 4px 4px 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    line-height: 1rem;
    background-color: #efefef;

    &-label {
      display: block;
      padding: 1px 12px 2px 4px;
      font-size: 0.875rem;
      color: #000;
    }

    &-icon-warning {
      min-height: 0.75rem;
      min-width: 0.75rem;
      margin: 0 8px;

      path {
        fill: rgba(0, 0, 0, 0.6);
      }
    }

    &-delete {
      display: flex;
      align-items: center;
      align-self: stretch;
      min-height: 1.125rem;
      width: 1.125rem;
      padding: 1px 3px;
      border: none;
      border-left: 1px solid #d7d8da;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        background-color: rgba(37, 118, 195, 0.2);
      }

      svg path {
        color: rgba(0, 0, 0, 0.62);
      }
    }

    &-embedded {
      .complex-lookup-selected-label {
        font-size: 1rem;
      }

      .complex-lookup-selected-icon-warning {
        min-height: 0.875rem;
        min-width: 0.875rem;
      }

      .complex-lookup-selected-delete {
        min-height: 1.4rem;
        width: 1.4rem;
      }
    }

    &-select-button {
      text-wrap: nowrap;
    }

    &-withWarning {
      .complex-lookup-selected-label {
        padding-right: 0;
      }
    }
  }
}
