{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "overrides": [
    {
      "files": ["src/test/**/*.ts"],
      "plugins": ["jest"],
      "extends": ["plugin:jest/recommended"],
      "rules": {
        "jest/prefer-expect-assertions": "off",
        "jest/no-disabled-tests": "warn",
        "jest/no-focused-tests": "error",
        "jest/no-identical-title": "error",
        "jest/prefer-to-have-length": "warn",
        "jest/valid-expect": "error",
        "jest/no-mocks-import": "off",
        "jest/no-export": "off",
        "jest/expect-expect": ["error", { "assertFunctionNames": ["expect", "test*"] }]
      }
    },
    {
      "files": ["src/test/**/*.tsx"],
      "extends": ["plugin:testing-library/react"],
      "rules": {
        "testing-library/await-async-queries": "error",
        "testing-library/no-await-sync-queries": "error",
        "testing-library/await-async-utils": "warn",
        "testing-library/no-wait-for-side-effects": "warn",
        "testing-library/no-debugging-utils": "warn",
        "testing-library/no-dom-import": "off",
        "testing-library/no-node-access": "off",
        "testing-library/no-render-in-lifecycle": ["error", { "allowTestingFrameworkSetupHook": "beforeEach" }],
        "testing-library/no-unnecessary-act": ["warn", { "isStrict": false }],
        "testing-library/prefer-screen-queries": "off",
        "testing-library/prefer-presence-queries": ["error", { "absence": false, "presence": true }],
        "testing-library/no-wait-for-multiple-assertions": "warn",
        "testing-library/no-container": "off"
      }
    }
  ],
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-explicit-any": "warn",
    "no-fallthrough": ["error", { "allowEmptyCase": true }]
  }
}
