{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "quoteProps": "as-needed",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^@/test/__mocks__",
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^@/(?!(test|features|store|assets)(/|$))",
    "^@/test/(?!__mocks__)",
    "^@/features",
    "^@/store",
    "^@/assets",
    "^[./](?!.*\\.scss$)",
    "^[./].*\\.scss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
