@import '@common/styles/common.scss';

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: $btn-border-radius;
  height: $btn-height;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;

  &:focus-visible {
    outline: none;
  }

  &:disabled,
  &:disabled:hover {
    color: $gray-400;
    background-color: $gray-200;
    cursor: not-allowed;
    box-shadow: none;

    > svg *,
    * {
      fill: $gray-400;
    }
  }

  &-highlighted {
    @include focused-outline-primary();

    background-color: $blue-500;
    border: 1px solid transparent;
    color: $base;

    &:hover:not(:disabled) {
      background-color: $blue-500-hover;
      box-shadow: $btn-hover-drop-shadow;
    }

    &:active:not(:disabled) {
      border: 1px solid transparent;
      background-color: $blue-700;
    }

    &:focus,
    :focus-visible {
      border: 1px solid black;
      border-style: inset;
    }
  }

  &-text,
  &-link {
    background-color: inherit;
    padding: 0;

    &:disabled {
      background-color: initial;

      &:hover {
        background-color: initial;
      }
    }

    &:hover:not(:focus, :disabled) {
      box-shadow: none;
    }
  }

  &-text {
    @include focused-outline-secondary();

    padding: 0 0.5em;
    height: 30px;

    &:hover {
      background-color: $blue-50;
    }

    &:focus-visible {
      text-decoration: underline;
    }

    &:active:not(:disabled) {
      text-decoration: underline;
    }
  }

  &-link {
    color: $blue-600;
    height: 24px;

    &:hover,
    &:focus-visible {
      text-decoration: underline;
      color: $blue-700;
      box-shadow: none;
    }

    &:active:not(:disabled) {
      color: $blue-800;
      text-decoration: underline;
    }
  }

  &-primary {
    @include focused-outline-secondary;

    color: $blue-600;
    box-shadow: 0 0 0 1px $blue-400;
    background-color: white;

    &:hover {
      color: $blue-700;
      background-color: $blue-100;
      box-shadow:
        $btn-hover-drop-shadow,
        0 0 0 1px $blue-500;
    }

    &:active {
      color: $blue-800;
      background-color: $blue-100;
      box-shadow: 0 0 0 1px $blue-500;
    }

    &:disabled {
      box-shadow: 0 0 0 1px transparent;
    }
  }

  &-passive {
    @include focused-outline-secondary;

    color: $blue-600;
    background-color: transparent;

    &:hover {
      color: $blue-700;
      background-color: $blue-100;
    }

    &:active {
      color: $blue-800;
      background-color: $blue-100;
    }
  }

  &-ghost {
    padding: 0;
    height: initial;
    background-color: transparent;
  }

  &-icon {
    border-radius: 8px;
    padding: 0.188rem;
    height: fit-content;
    background-color: transparent;
    border: 1px solid transparent;

    &:hover {
      background-color: rgba(37, 118, 195, 0.2);
    }

    &:focus,
    &:focus-visible,
    &:active {
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 0 3px rgba(37, 118, 195, 0.3);
    }

    &:active {
      background-color: #1960a4;
      color: #fff;

      > svg,
      path,
      * {
        fill: #fff;
        opacity: 1;
        fill-opacity: 1;
      }
    }
  }
}
