@use '@/common/styles/common.scss' as *;

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: $btn-border-radius;
  height: $btn-height;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;

  &:disabled,
  &:disabled:hover,
  &:disabled:active {
    border-color: transparent;
    color: $gray-400;
    background-color: $gray-200;
    cursor: not-allowed;
    box-shadow: none;

    > svg *,
    * {
      fill: $gray-400;
    }
  }

  &-highlighted {
    background-color: $blue-500;
    border: 1px solid transparent;
    color: $base;
    @include focused-outline-primary();

    &:hover:not(:disabled) {
      background-color: $blue-500-hover;
      box-shadow: $btn-hover-drop-shadow;
    }

    &:active:not(:disabled) {
      border: 1px solid transparent;
      background-color: $blue-700;
    }

    &:focus,
    :focus-visible {
      border: 1px solid black;
      border-style: inset;
    }
  }

  &-text,
  &-link {
    background-color: inherit;
    padding: 0;

    &:disabled {
      background-color: initial;

      &:hover {
        background-color: initial;
      }
    }

    &:hover:not(:focus, :disabled) {
      box-shadow: none;
    }
  }

  &-text {
    padding: 0 0.5em;
    height: 30px;
    @include focused-outline-secondary();

    &:hover {
      background-color: $blue-50;
    }

    &:focus-visible {
      text-decoration: underline;
    }

    &:active:not(:disabled) {
      text-decoration: underline;
    }
  }

  &-link {
    border-radius: $btn-icon-border-radius;
    color: $blue-2f;
    text-decoration: 1px underline solid $blue-200;
    height: 24px;

    &:hover {
      color: $blue-850;
      text-decoration-color: $blue-850;
    }

    &:focus-visible {
      outline: 1px solid $blue-550;
      box-shadow: 0 0 0 3px $buttonFocus;
    }

    &:active:not(:disabled) {
      color: #000;
      text-decoration: underline;
    }
  }

  &-primary {
    color: $blue-600;
    box-shadow: 0 0 0 1px $blue-400;
    background-color: white;
    @include focused-outline-secondary;

    &:hover {
      color: $blue-700;
      background-color: $blue-100;
      box-shadow:
        $btn-hover-drop-shadow,
        0 0 0 1px $blue-500;
    }

    &:active {
      color: $blue-800;
      background-color: $blue-100;
      box-shadow: 0 0 0 1px $blue-500;
    }

    &:disabled {
      box-shadow: 0 0 0 1px transparent;
    }
  }

  &-passive {
    color: $blue-600;
    background-color: transparent;
    @include focused-outline-secondary;

    &:hover {
      color: $blue-700;
      background-color: $blue-100;
    }

    &:active {
      color: $blue-800;
      background-color: $blue-100;
    }
  }

  &-ghost {
    padding: 0;
    height: initial;
    background-color: transparent;
  }

  &-icon {
    border-radius: $btn-icon-border-radius;
    padding: 0.188rem;
    height: fit-content;
    background-color: transparent;
    border: 1px solid transparent;

    &:hover {
      background-color: $buttonHover;
    }

    &:focus,
    &:focus-visible {
      border: 1px solid rgba(0, 0, 0, 0.5);
      background-color: $buttonFocus;
      box-shadow: 0 0 0 3px $buttonFocus;
    }

    &:active {
      border: 1px solid rgba(0, 0, 0, 0.5);
      background-color: $buttonHighlighted;
      box-shadow: 0 0 0 3px $buttonFocus;
      color: #fff;

      > svg,
      path,
      * {
        fill: #fff;
        opacity: 1;
        fill-opacity: 1;
      }
    }

    &:disabled:active {
      > svg {
        fill-opacity: 0.6;
        opacity: 0.6;
      }
    }
  }

  &-list-item {
    width: 100%;
    height: initial;
    background-color: transparent;
    border: 1px solid transparent;
    justify-content: left;
    font-weight: normal;
    border-radius: 0;

    &:disabled,
    &:disabled:hover,
    &:disabled:active {
      cursor: default;
      background-color: transparent;
      color: inherit;
    }

    &:hover {
      background-color: $buttonHover;
    }

    &:focus,
    &:focus-visible {
      border: 1px solid rgba(0, 0, 0, 0.5);
      background-color: $buttonFocus;
      box-shadow: 0 0 0 3px $buttonFocus;
    }
  }

  &-capitalize {
    text-transform: capitalize;
  }

  &-nowrap {
    text-wrap: nowrap;
  }
}
