.modal {
  padding: 0;

  .modal-header {
    border-bottom: 1px solid color-mix(in oklch, currentcolor 15%, transparent);
    padding: 24px 24px 16px 24px;
  }

  .description, .selector, .mode {
    margin-top: 24px;
    padding: 0 24px;
  }

  label {
    font-weight: bold;
  }

  .mode-select, input {
    background-color: rgba(0, 0, 0, 3%);
    width: 100%;
  }

  .mode {
    margin-bottom: 40px;
  }

  &-controls-spread {
    border-top: 1px solid color-mix(in oklch, currentcolor 15%, transparent);
    padding: 15px 24px 16px 24px;
  }

  &-controls {
    border-top: 1px solid color-mix(in oklch, currentcolor 15%, transparent);
    padding: 15px 24px 16px 24px;
  }
}