.duplicate-group-container {
  .expand-collapse-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.375rem;
    padding: 0.313rem;
    border: 1px solid transparent;
    font-size: 0.75rem;
    color: black;
    font-weight: initial;

    &:focus,
    &:focus-visible {
      background: rgba(37, 118, 195, 0.3);
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 0 3px rgba(37, 118, 195, 0.3);

      &:not(:active) {
        box-shadow: 0 0 0 3px rgba(37, 118, 195, 0.3);
      }
    }

    &:hover {
      box-shadow: none;
      background: rgba(37, 118, 195, 0.2);
      border: 1px solid transparent;
      outline: none;
    }

    &:active {
      background: #1960a4;
      border: 1px solid rgba(0, 0, 0, 0.2);
      color: #fff;
      box-shadow: none;

      * > * {
        fill: #fff;
      }
    }

    .arrow-closed {
      transform: rotate(180deg);
    }
  }
}
