@use '@/common/styles/common.scss' as *;

.dropzone-file {
  align-items: center;
  border: 2px solid $overlay-bg-color;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 7px;

  .file-info {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .name {
      margin-right: 32px;

      .icon {
        margin-right: 7px;
      }
    }

    .date {
      color: $buttonIcon;
      flex-grow: 1;
    }
  }

  button {
    margin-left: 15px;
  }
}
