.item-search-content-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 2rem;
}

.item-search-message {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: var(--color-info-light);
  border-left: 4px solid var(--color-info);
  border-radius: 4px;
}
