.textarea {
  box-sizing: border-box;
  height: 26px;
  min-height: 26px;
  padding: 1px 0.5rem 0;
  font-size: 1rem;
  font-family: inherit;

  &-full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

.embed-container .textarea {
  padding-top: 3px;
}
