@use '@common/styles/common.scss' as *;

.modal-choose-profile {
  min-width: 515px;
  padding: 0;

  // TODO: UILD-513 - use these styles in "Modal.scss" to make them consistent acroll all modals
  .modal-header,
  .modal-content,
  .modal-controls {
    padding: 1.125rem;
  }

  .modal-header {
    padding: 1.125rem;
    border: 1px solid $gray-300;
    border-radius: 8px 8px 0 0;

    .title {
      width: 100%;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 0.875rem;
      font-weight: 700;
      text-align: center;
    }
  }

  .modal-description {
    font-size: 1rem;
  }

  .modal-content {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1rem;

    &-controls-block {
      margin-bottom: 1rem;
    }

    &-subheader {
      margin-bottom: 4px;
      line-height: 1.5rem;
      color: $gray-500;
      font-weight: 600;
    }

    &-label {
      line-height: 1.5rem;
    }

    &-warning {
      margin-top: 1rem;
      font-family: 'Source Sans Pro', sans-serif;

      .warning-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 0.5rem;
        font-weight: 400;
        font-size: 1.14rem;
        color: $error;

        .icon {
          height: 14px;
          width: 14px;
        }

        &-text {
          margin-left: 10px;
        }
      }

      .warning-content {
        margin-bottom: 0;
        line-height: 1.4;

        li {
          margin-bottom: 0.5rem;
          font-size: 1rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .modal-controls {
    border-top: 1px solid $gray-300;
    justify-content: space-between;
  }
}
