@use '@/common/styles/common.scss' as *;

.marc-tooltip {
  &-wrapper {
    margin-left: 10px;
  }

  &-icon {
    path {
      fill: rgba(0, 0, 0, 0.62);
    }

    &:hover path {
      fill: $buttonHighlighted;
    }

    &:active path {
      fill: white;
    }
  }

  &-title {
    font-weight: 400;
  }

  &-field {
    margin-right: 4px;
  }
}
