@use '@/common/styles/common.scss' as *;

.marc-tooltip {
  &-wrapper {
    margin-left: 10px;
  }

  &-icon {
    path {
      fill: $buttonIcon;
    }

    &:hover path {
      fill: $button-standard;
    }

    &:active path {
      fill: $base;
    }
  }

  &-title {
    font-weight: 400;
  }

  &-field {
    margin-right: 4px;
  }
}
