$btn-primary: #3e75cf;
$btn-primary-contents: #fff;
$btn-primary-hover: #3465a8;
$btn-primary-active: #255096;
$btn-text-focus: #e9effa;
$btn-text-active: #255096;
$btn-link-active: #1d3f75;
$btn-disabled: #d7d8da;
$btn-disabled-contents: #8d9095;
$outline-outer-focus: #d8e3f5;

$btn-primary-hover-drop-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.37);
$focusable-outline-box-shadow: 0 0 0 1px $btn-primary-contents, 0 0 0 3px $btn-primary, 0 0 0 6px $outline-outer-focus;

$btn-border-radius: 4px;
$btn-primary-height: 32px;

@mixin focused-outline {
  &:focus,
  &:focus-visible {
    position: relative;
    outline: none;
    box-shadow: $focusable-outline-box-shadow;
  }
}
