$blue-500: #3e75cf;
$base: #fff;
// TODO: naming
$blue-500-hover: #3465a8;
$blue-700: #255096;
$blue-50: #e9effa;
$blue-700: #255096;
$blue-600: #2d62b7;
$blue-800: #1d3f75;
$gray-200: #d7d8da;
$gray-400: #8d9095;
$gray-600: #3d3f42;
$blue-100: #d8e3f5;
$blue-400: #6591d9;
$blue-2f: #2f609f;
$disabled-input-bg-color: #ebebe4;
$disabled-input-color: #777;
$buttonHighlighted: #1960a4;

$btn-hover-drop-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.37);
$highlighted-focusable-outline-box-shadow:
  0 0 0 1px $base,
  0 0 0 3px $blue-500,
  0 0 0 6px $blue-100;

$secondary-focusable-outline-box-shadow:
  0 0 0 1px $blue-500,
  0 0 0 4px $blue-100;

$btn-border-radius: 12px;
$btn-height: 24px;

@mixin focused-outline-primary {
  &:focus,
  &:focus-visible {
    outline: none;
    box-shadow: $highlighted-focusable-outline-box-shadow;

    &:active {
      box-shadow: none;
    }
  }
}

@mixin focused-outline-secondary {
  &:focus:not(:active),
  &:focus-visible:not(:active) {
    outline: none;
    box-shadow:
      0 0 0 1px inset $blue-500,
      $secondary-focusable-outline-box-shadow;

    &:hover {
      outline: none;
      box-shadow:
        0 0 0 1px inset $blue-500,
        $secondary-focusable-outline-box-shadow;
    }
  }
}

@mixin focused-outline-secondary-with-border {
  outline: none;

  &:focus,
  &:focus-visible {
    border: 1px solid $blue-500;
    box-shadow:
      0 0 0 1px $blue-500,
      $secondary-focusable-outline-box-shadow;

    &:hover {
      border: 1px solid $blue-500;
      box-shadow:
        0 0 0 1px $blue-500,
        $secondary-focusable-outline-box-shadow;
    }
  }
}
