@use '@/common/styles/common.scss' as *;

.modal-close-profile-settings {
  min-width: 475px;
}

@media screen and (width < 768px) {
  .modal-close-profile-settings {
    min-width: 0;
    width: 90%;
  }
}
