.properties {
  ul {
    display: block;
    // list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    min-width: 10em;
  }
}
