.preview-panel {
  min-width: 15em;
}

.preview-block {
  border: 1px solid blue;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.status-message {
  &.success {
    color: green;
  }

  &.error {
    color: red;
  }
}
