.preview-panel {
  padding: 0 0.938rem 0.75rem 0.938rem;

  .block {
    border: 1px solid red;
    min-height: 0.5rem;
  }

  .preview-entity {
    max-width: 560px;
    width: 100%;
    
    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      padding-right: 0.938rem;
      margin-right: 0.938rem;
    }
  }

  .preview-block {
    border-bottom: 1px solid #00000019;
    margin-top: 0.75rem;
    padding-bottom: 0.75rem;

    &-contents {
      display: grid;
      align-items: start;
      grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
      gap: 1rem;
    }

    > * :not(strong) {
      font-size: 0.875rem;
    }

    .value-group-wrapper {
      word-wrap: break-word;
    }

    .preview-value-link {
      font-size: 0.875rem;
    }
  }

  .entity-heading {
    display: flex;
    align-items: center;
    gap: 0.313rem;
    font-size: 1.138rem;
    padding-bottom: 0.5rem;
    
    .toggle-entity-edit {
      margin-left: auto;
    }

    > svg {
      height: 1.25rem;
      width: 1.25rem;

      & * {
        fill: #00000099;
      }
    }
  }

  .value-heading {
    padding-bottom: 0.219rem;
  }

  .sub-heading {
    padding-bottom: 0.313rem;
    font-size: 0.919rem;
  }
}

.positioned-second {
  order: 2;
}

.preview-panel-row {
  margin: 0.938rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titled-preview {
  padding: 0;

  &-header {
    padding: 0.2rem 0.938rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);

    &-plain {
      padding-top: 0.75rem;
      border-bottom: none;
      background-color: transparent;
    }

    .details {
      display: flex;
      flex-direction: column;
      align-items: center;

      h5 {
        font-size: 0.95rem;
      }

      span {
        color: rgba(0, 0, 0, 0.6)
      }
    }
  }
}
