.preview-panel {
  min-width: 15em;
}

.preview-block {
  border: 1px solid red;
  padding: 0.5em;
  margin-top: 10px;
}

.status-message {
  &.success {
    color: green;
  }

  &.error {
    color: red;
  }
}
