.full-display {
  &-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 540px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);

    .preview-contents-container {
      height: 100%;
      overflow-y: scroll;
      padding: 0.938rem;
      padding-bottom: 4rem;
    }

    > * {
      flex: 1;
    }
  }

  &-control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.938rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.03);
    height: 2.75rem;

    .close {
      padding: 0.6rem;
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        font-size: 0.875rem;
        font-weight: bold;
        max-width: 20rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .type {
        font-size: 0.75rem;
        color: rgba(0, 0, 0, 0.62);
      }
    }
  }

  &-controls {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
  }
}
