.search-control-pane {
  display: flex;
  padding: 12px 1rem;
  border-bottom: 1px solid #d7d8da;

  &-title {
    flex: 1;
    text-align: center;
  }

  &-mainLabel {
    font-size: 0.875rem;
    font-weight: 700;
    color: #000;
  }
}
