@import '@common/styles/common.scss';

.search-control-pane {
  display: flex;
  padding: 0 1rem;
  border-bottom: 1px solid $gray-200;
  background-color: rgba(0, 0, 0, 0.03);
  height: 2.75rem;
  align-items: center;

  &-title {
    flex: 1;
    text-align: center;
  }

  &-mainLabel {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 700;
    color: #000;
  }

  &-subLabel {
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: rgba(108, 108, 108, 1);
  }

  &-embedded {
    .search-control-pane-mainLabel {
      font-size: 0.875rem;
      line-height: 1.5rem;
    }

    .search-control-pane-subLabel {
      font-size: 0.75rem;
      line-height: 1.43rem;
    }
  }
}
