.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid #ccc;
  transform: translate(-50%, -50%);
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 8px;
  outline: none;
  padding: 24px 24px 16px 24px;
  z-index: 11;

  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1.4rem;
      font-weight: 500;
    }

    .close-button {
      background-color: transparent !important;
      padding: 0 !important;
      border: none !important;
      border-radius: 0 !important;
      height: 1rem !important;
      width: 1rem !important;
      cursor: pointer;

      &:hover {
        border: none !important;
      }
    }
  }

  &-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }
}
