// TODO: seems that the css leaking from parent affects rem values

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid #ccc;
  transform: translate(-50%, -50%);
  background: #fff;
  -webkit-overflow-scrolling: touch;
  border-radius: 8px;
  outline: none;
  padding: 24px 24px 16px 24px;
  z-index: 10000;

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    .title {
      font-size: 1.4rem;
      font-weight: 500;
    }

    .close-button {
      height: 24px;
      width: 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      padding: 0;
      border: none;
      border-radius: 0;
      cursor: pointer;

      &:hover {
        border: none !important;
      }
    }
  }

  &-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 16px;
  }

  &-controls-spread {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button:only-child {
      margin-left: auto;
    }
  }
}
