@use '@/common/styles/common.scss' as *;

.search-control-pane {
  position: relative;
  z-index: 1000;
  display: flex;
  padding: 0 1rem;
  border-bottom: 1px solid $gray-200;
  background-color: rgba(0, 0, 0, 0.03);
  height: 2.75rem;
  align-items: center;

  .open-ctl {
    height: 2.125rem;
    width: 2.125rem;
    padding: 0.5rem;

    svg {
      height: 12px;
      transform: rotate(90deg);
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding: 0 1rem;
    overflow: hidden;
  }

  &-mainLabel {
    font-size: 0.875rem;
    line-height: 1.3125rem;
    font-weight: 700;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-subLabel {
    font-size: 0.75rem;
    line-height: 1.25rem;
    color: rgba(108, 108, 108, 1);
  }

  &-embedded {
    .search-control-pane-mainLabel {
      font-size: 1rem;
      line-height: 1.5rem;
    }

    .search-control-pane-subLabel {
      font-size: 0.86rem;
      line-height: 1.43rem;
    }
  }
}
