@use '@/common/styles/common.scss' as *;

.components-editor-wrapper {
  container-type: inline-size;
}

.components-editor {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 450px));
  grid-template-rows: auto auto 1fr;
  grid-auto-rows: min-content;
  column-gap: 15px;
  row-gap: 5px;
  padding: 0 15px;

  .title {
    padding-right: 4px;
  }

  .component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 0 5px;

    .name {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      height: 100%;

      .grab {
        margin-right: 10px;
        display: flex;
        align-items: center;
      }
    }

    &:hover {
      cursor: grab;
    }

    .adjust {
      display: flex;
      align-items: center;
      justify-content: right;

      .blank {
        width: 24px;
      }

      &:hover {
        cursor: default;
      }
    }

    &.dragging {
      opacity: 0.4;
    }

    .move-menu {
      display: block;
      position: relative;

      &-content {
        position: absolute;
        z-index: 2;
        top: 13px;
        left: -24px;
        width: max-content;
        padding: 7px;
        border: 1px solid $gray-350;
        background-color: $base;
        box-shadow: $menu-drop-shadow;

        button {
          font-size: 0.919rem;
          font-weight: 400;
        }
      }
    }
  }

  .unused-components {
    display: contents;

    h4 {
      grid-column: 1;
      grid-row: 1;
    }

    .description {
      grid-column: 1;
      grid-row: 2;
    }

    .components {
      grid-column: 1;
      grid-row: 3;
      background-color: $gray-100;
      padding: 15px;

      .empty-list {
        padding-top: clamp(1rem, 10%, 10rem);
        text-align: center;
        font-weight: 800;
      }

      .component {
        background-color: $base;
        border-radius: $btn-icon-border-radius;
        border: 1px solid $gray-300;
      }

      &.over {
        opacity: 0.5;
        border: 1px dashed $gray-600;
      }
    }
  }

  .selected-components {
    display: contents;

    h4 {
      grid-column: 2;
      grid-row: 1;
    }

    .description {
      grid-column: 2;
      grid-row: 2;
    }

    .components {
      grid-column: 2;
      grid-row: 3;
    }

    .component {
      background-color: $gray-100;
    }
  }

  .dragging {
    .component {
      border-radius: $btn-icon-border-radius;
      border: 1px solid $gray-400;
      border-left: 12px solid $gray-400;
      box-shadow: $listButton-drop-shadow, $btn-hover-drop-shadow;
    }

    &.unused {
      .component {
        background-color: $base;
      }
    }

    &.selected {
      .component {
        background-color: $gray-100;
      }
    }
  }

  .drag-overlay {
    pointer-events: none;
  }
}

@container (max-width: 599.98px) {
  .components-editor {
    grid-template-columns: 1fr 1fr;
  }
}
