.item-search {
  display: flex;
  flex-direction: row;
  height: 100%;

  .empty-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    margin: auto;
  }

  &-content-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    overflow-y: auto;
  }
}
