.item-search {
  display: flex;
  flex-direction: column;

  .search-input {
    width: auto;
    margin-right: 1rem;
  }

  .search-controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    input {
      margin-right: 0.5rem;
    }
  }

  .action-items {
    width: 0.1rem;
    white-space: nowrap;

    &__container {
      display: flex;
      gap: 0.5rem;
    }
  }
}
