.item-search {
  display: flex;
  flex-direction: column;

  .search-input {
    width: auto;
    margin-right: 1rem;
  }

  .search-controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    input {
      margin-right: 0.5rem;
    }
  }
}
