.preview-container {
  min-width: 475px;
  max-width: 475px;
  border-right: 1px solid #00000019;

  .preview-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;

    .header {
      font-size: 1.138rem;
    }
  }

  &.positioned-second {
    border-left: 1px solid rgba(0,0,0,.0980392157);
    border-right: none;
  }
}
