.preview-container {
  min-width: 475px;

  .preview-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;

    .header {
      font-size: 1.138rem;
    }
  }

  &.positioned-second {
    .preview-panel {
      border-right: none;
    }
  }
}
