.edit-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  height: 100%;
  
  > *:not(.view-marc-modal) {
    overflow: auto;
    padding: 0.75rem 0.938rem;
  }
}
