.profile-settings {
  flex: 1;

  .nav .heading {
    padding: 0 15px;
  }

  .settings-sorting {
    display: flex;
    flex-direction: row;
    padding: 0 15px;

    .title {
      padding-right: 4px;
    }
  }
}
