.marc-field {
  vertical-align: top;

  .field-code {
    font-weight: bold;
  }

  .field-indicators {
    width: 30px;
    white-space: pre;
    display: flex;
    justify-content: center;
  }

  .field-contents {
    white-space: pre-wrap;
  }
}
