@use '@/common/styles/common.scss' as *;

.common-status {
  position: fixed;
  bottom: 1.75rem;
  right: 2rem;
  z-index: 10100;
}

.status-message {
  position: relative;
  width: 42.375rem;
  padding: 0.5rem 0.65625rem;
  border: 1px solid #d7d8da;
  border-radius: 6px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.875rem;
  transform: translateX(1500px);
  opacity: 0;
  animation: slideInOut 5500ms ease-in-out;

  &:not(:first-child) {
    margin-top: 0.5rem;
  }

  &-icon {
    margin-right: 1rem;
  }

  &-text {
    flex: 1;
  }

  &-close {
    padding: 0;
    background-color: transparent;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      opacity: 0.5;
    }
  }

  &.success {
    border-color: #007700;
    background-color: #d7e3d2;
  }

  &.warning {
    border-color: #943e00;
    color: #943e00;
    background-color: #f7e7de;

    .status-message-icon path,
    .status-message-close path {
      fill: #943e00;
    }
  }

  &.error {
    border-color: $error;
    color: $error;
    background-color: #ead2d0;

    .status-message-icon path,
    .status-message-close path {
      fill: $error;
    }
  }
}

@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateX(120%);
  }

  5% {
    transform: translateX(0);
    opacity: 1;
  }

  95% {
    transform: translateX(0);
    opacity: 1;
  }

  100% {
    transform: translateX(120%);
    opacity: 0;
  }
}
