.common-status {
  padding: 0 0.5rem;
}

.status-message {
  &.success {
    color: green;
  }

  &.error {
    color: red;
  }
}

/* .status-message {
  position: fixed;
  top: 4.5rem;
  left: 0.5rem;
  z-index: 10;
  padding: 0.5rem;
  border: 1px solid #d7d8da;
  border-radius: 8px;
  background: white;
} */
