.marc-preview {
  &-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &-sub-label-date {
    margin-left: 4px;
  }

  &-content {
    height: 100%;
    padding: 1rem 2rem;
    overflow-y: auto;

    &-title {
      margin-bottom: 1rem;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
}
