@import '@common/styles/common.scss';

.modal {
  &-complex-lookup {
    height: 100%;
    max-height: 90vh;
    min-width: 75vw;
    padding: 0;
    display: flex;
    flex-direction: column;

    .modal-header {
      &.modal-complex-lookup-header {
        padding: 1rem;
        border-bottom: 1px solid #dedede;
        font-size: 0.875rem;
        text-align: center;

        &-embedded {
          &.modal-complex-lookup-header,
          .modal-complex-lookup-title {
            font-size: 1rem;
          }
        }
      }

      .modal-complex-lookup-title {
        width: 100%;
        font-size: 0.875rem;
        font-weight: 700;
        text-align: center;
      }
    }

    .search-pane-header-title {
      flex: 1;
      text-align: center;
    }

    &-embedded {
      // TODO: dynmically calculate header and footer heights
      max-height: calc(100vh - 118px);

      .search-pane-header-title,
      .search-control-pane-mainLabel {
        font-size: 1rem;
      }
    }
  }

  .complex-lookup-search {
    &-contents {
      height: 100%;
      flex: 1;
    }

    &-empty {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      color: $gray-400;

      svg {
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }
}
