.table {
  width: 100%;

  tr,
  td {
    border: 1px solid black;
    text-align: center;
  }

  td {
    padding: 0 0.5rem;
  }

  .clickable {
    cursor: pointer;
  }

  .action-items__container {
    > a {
      display: block;
    }
  }
}
