@use '@/common/styles/common.scss' as *;

$table-cell-border: 1px solid rgba(0, 0, 0, 0.1);
$row-even-bg-color: rgba(0, 0, 0, 0.03);
$row-odd-bg-color: rgba(0, 0, 0, 0.08);

.table {
  width: 100%;
  border-spacing: 0;

  &.table-with-pagination {
    margin-bottom: 2rem;
  }

  tbody,
  &-body {
    tr,
    .table-row {
      &:nth-child(odd):not(.row-selected) {
        background-color: $row-odd-bg-color;
      }

      &:nth-child(even):not(.row-selected) {
        background-color: $row-even-bg-color;
      }
    }

    .row-selected {
      background-color: #d3e4f3;

      > * {
        border-color: white;
      }
    }
  }

  thead tr > td {
    height: 0;
    padding: 0;
    border: none;

    .table-header-contents-wrapper {
      height: 100%;
      padding: 0 0.625rem 0.2rem 0.625rem;
      border-bottom: 5px solid $blue-600;
      box-sizing: border-box;
    }
  }

  th,
  .table-head-cell,
  .table-head-empty {
    vertical-align: bottom;
    text-align: left;
    background-color: $row-even-bg-color;
    padding: 0 0.65px 0 0;

    &:last-child {
      padding: 0;
    }

    .table-header-contents-wrapper {
      padding: 0 0.625rem 0.2rem 0.625rem;
      border-bottom: 5px solid $blue-600;
    }
  }

  .table-head-empty {
    border: none;
  }

  td,
  &-cell {
    padding: 0 0.625rem;
  }

  tr,
  td,
  &-row,
  &-cell {
    border: $table-cell-border;
    word-wrap: break-word;

    &:first-child {
      border-top: 0;
      border-left: 0;
    }

    &:last-child {
      border-right: 0;

      & td,
      & .table-cell {
        border-bottom: 0;
      }
    }

    &:not(:first-child) {
      & td:first-child,
      & .table-cell:first-child {
        border-top: 0;
      }
    }

    & + td,
    & + tr,
    & + .table-row,
    & + .table-cell {
      border-top: 0;
      border-left: 0;
    }
  }

  td .table-cell {
    &.column-large {
      width: 80%;
    }
  }

  .clickable {
    cursor: pointer;
  }

  .cell {
    &-relative {
      &-20 {
        width: 20%;
        min-width: 20%;
        max-width: 20%;
      }

      &-45 {
        width: 45%;
        min-width: 45%;
        max-width: 45%;
      }
    }

    &-fixed {
      justify-content: center;
    }
  }
}

.table-flex {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow: hidden;

  .table-head {
    overflow-x: hidden; // Header scrolls via JS sync
    flex-shrink: 0; // Prevent header from shrinking
    box-sizing: border-box; // Padding for scrollbar doesn't affect layout
    z-index: 100;
  }

  .table-row {
    display: grid;
    // Will be set dynamically via JS, but this provides fallback
    grid-auto-flow: column;
    min-width: fit-content;

    .table-header-contents-wrapper {
      height: 100%;
      width: 100%;
      font-weight: 700;
      border-bottom: none;
    }
  }

  .table-head .table-row {
    border-bottom: 5px solid $blue-600;
    background-color: #fff;
  }

  .table-head-cell {
    position: relative;
    top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
    border-right: 1px solid white;
    background: transparent;
    display: flex;
    align-items: flex-end;

    &:last-child {
      border-right: 0;
    }
  }

  .table-body-container {
    flex: 1;
    height: 100%;
    overflow: auto; // Both horizontal and vertical scroll
    margin-top: -5px;
    border-top: 5px solid $blue-600; // Border above the scrollbar
  }

  .table-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0.625rem;
    border-bottom: none;

    &-content {
      display: flex;
      align-items: center;
    }
  }
}

#editor-root .action-items__container {
  text-align: center;

  .button,
  button {
    display: inline-block;
    min-height: 2.5rem;
    min-width: 2.5rem;
    padding: 0.6rem;
    box-sizing: border-box;
    text-align: center;
  }
}
