.modal.import {
  width: 630px;

  .modal-content {
    .description,
    .selector,
    .submitted,
    .completed,
    .mode label {
      margin-top: 24px;
    }

    label {
      font-weight: 700;
    }

    select,
    input {
      width: 100%;
    }

    .mode,
    .submitted,
    .completed {
      margin-bottom: 40px;
    }

    .submitted {
      align-items: center;
      display: flex;
      justify-content: center;

      .spinner {
        margin-right: 15px;
        height: 3em;
        width: 6em;
      }
    }
  }
}
