@import '@common/styles/common.scss';

.edit-section {
  display: flex;
  flex-direction: column;
  gap: 0.313rem;

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &-field-input {
    width: 100%;
  }

  &-group {
    position: relative;
    border: 1px solid #3986c5;
    background-color: #c5daf420;
    border-radius: 4px;
    padding: 0.938rem;
    padding-top: 0.313rem;
    display: flex;
    flex-direction: column;
    gap: 0.313rem;

    &-compact {
      padding-top: 0.938rem;
    }

    &:focus-within {
      box-shadow: inset 0 0 0 1px #3986c5;
    }

    select, input {
      height: 1.5rem;
      font-size: 1rem;
    }

    select {
      padding: 0;
      padding-left: 0.313rem;
    }

    .simple-lookup {
      border: 1px solid rgba(0, 0, 0, 0.2);
      padding-left: 0.5rem;
      color: $disabled-input-color;
      height: 1.5rem;
    }

    .group-label {
      font-size: 0.919rem;
      font-weight: bold;
    }
  }

  .toggle-expansion-button {
    color: $blue-2f;
    font-size: 0.875rem;
    font-weight: bold;
    text-decoration: underline;
  }

  .group-name-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
    align-items: center;
  }

  .back-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }

  .entity-heading {
    margin-bottom: 0.188rem;

    .heading {
      font-size: 1.138rem;
    }
  }
}

.edit-section-passive {
  .edit-section-group {
    border-color: rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
  }
}
