.edit-section {
  margin-top: 2em;

  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
}

.group {
  border: 1px solid blue;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}
