@use '@/common/styles/common.scss' as *;

body {
  margin: 0;
  padding: 0;
}

html,
body,
body > #editor-root,
#app-root,
.embed-container {
  height: 100%;

  // TODO: revise with designer on what the base font size should be
  // font-size: 16px;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#app-root {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  overflow: auto;
}

.welcome-screen {
  padding: 12px;
}

.no-overflow {
  overflow: hidden;
}

#editor-root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }

  #root {
    width: 100%;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  hr {
    border: none;
    border-bottom: 1px solid $gray-200;
    width: 100%;
    text-align: left;
    margin-left: 0;
    margin-top: 12px;
  }

  select,
  input[type='text']:not(#creatable-select-input),
  textarea {
    background-color: $title-bar-bg-color;
    border: 1px solid $buttonIcon;
    padding-left: 5px;
    padding-right: 5px;
    height: 24px;

    &:focus,
    &:focus-visible {
      outline: none;
      border: 1px solid $button-standard;
      box-shadow: 0 0 0 2px inset $buttonFocus;
    }

    &:disabled {
      background-color: $disabled-input-bg-color;
      color: $disabled-input-color;
      border: 1px solid $disabled-border-color;
      cursor: not-allowed;
    }

    &::placeholder {
      color: $buttonIcon;
    }
  }

  select {
    cursor: pointer;
  }

  input {
    &[type='checkbox'] {
      -webkit-appearance: none;
      appearance: none;
      background-color: $base;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1em;
      height: 1em;
      border: 0.11em solid $gray-400;
      border-radius: 0.3em;
      display: grid;
      place-content: center;
      cursor: pointer;

      &:disabled {
        background-color: $disabled-check-radio-bg-color;
        cursor: not-allowed;
      }

      &::before {
        content: '';
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 10em 10em $base;
        clip-path: polygon(19% 39%, 37% 58%, 84% 13%, 96% 26%, 37% 83%, 7% 52%);
        background-color: CanvasText;
      }

      &:checked {
        border-color: $base-text;
        background-color: $base-text;

        &:disabled {
          border-color: $disabled-check-radio-bg-color;
          background-color: $disabled-check-radio-bg-color;
        }

        &::before {
          transform: scale(1);
        }
      }

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }

    &[type='radio'] {
      appearance: none;
      background-color: $base;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1em;
      height: 1em;
      border: 0.11em solid $gray-400;
      border-radius: 50%;
      transform: translateY(0);
      display: grid;
      place-content: center;
      cursor: pointer;

      &::before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        background-color: $base-text;
      }

      &:checked::before {
        transform: scale(1);
      }

      &:checked {
        &:disabled {
          border-color: $disabled-check-radio-bg-color;
          background-color: $disabled-check-radio-bg-color;
        }
      }

      &:disabled {
        border-color: $disabled-check-radio-bg-color;
        background-color: $disabled-check-radio-bg-color;
      }

      &:focus,
      &:focus-visible {
        outline: none;
      }
    }
  }

  :not(label) > input[type='checkbox'] {
    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: $secondary-focusable-outline-box-shadow;
    }
  }

  label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    min-height: 24px;
    padding: 0 5px;
    margin-left: -5px;
    margin-right: -5px;
  }

  label:has(input[type='checkbox']),
  label:has(input[type='radio']) {
    border-radius: $btn-icon-border-radius;

    &:hover,
    &:focus-within {
      background-color: $buttonHover;
    }

    &:focus-within {
      box-shadow: $highlighted-focusable-outline-box-shadow;
    }
  }

  .invisible-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  a {
    color: $blue-2f;
    text-decoration: 1px underline solid $gray-200;

    &:hover {
      color: $blue-850;
      text-decoration-color: $blue-850;
    }

    &:active {
      color: $base-text;
      text-decoration-color: $blue-850;
    }

    &:focus-visible {
      outline: 1px solid $blue-550;
      border-radius: 6px;
      box-shadow: 0 0 0 3px $buttonFocus;
    }
  }
}
