@import '@common/styles/common.scss';

body {
  margin: 0;
  padding: 0;
}

html,
body,
body > #editor-root,
#app-root,
.embed-container {
  height: 100%;

  // TODO: revise with designer on what the base font size should be
  // font-size: 16px;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

#app-root {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  overflow: auto;
}

.welcome-screen {
  padding: 12px;
}

.no-overflow {
  overflow: hidden;
}

#editor-root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
  }

  #root {
    width: 100%;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  select,
  input {
    &:disabled {
      background-color: $disabled-input-bg-color;
      color: $disabled-input-color;
    }
  }

  select {
    cursor: pointer;
    @include focused-outline-secondary-with-border();

    &:focus-visible {
      position: relative;
    }

    &:disabled {
      cursor: default;
    }
  }

  input {
    &[type='text']:not(#creatable-select-input) {
      cursor: text;
      @include focused-outline-secondary-with-border();
    }

    &:disabled {
      margin: 0;
      opacity: 0.5;
      cursor: not-allowed;
    }

    &[type='checkbox'] {
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1em;
      height: 1em;
      border: 0.11em solid gray;
      border-radius: 0.3em;
      display: grid;
      place-content: center;
      cursor: pointer;
      @include focused-outline-primary();

      &:disabled {
        color: lightgray;
        cursor: not-allowed;
      }

      &::before {
        content: '';
        width: 0.65em;
        height: 0.65em;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 10em 10em white;
        clip-path: polygon(19% 39%, 37% 58%, 84% 13%, 96% 26%, 37% 83%, 7% 52%);
        background-color: CanvasText;
      }

      &:checked {
        border-color: black;
        background-color: black;

        &::before {
          transform: scale(1);
        }
      }
    }

    &[type='radio'] {
      appearance: none;
      background-color: #fff;
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 1em;
      height: 1em;
      border: 0.11em solid gray;
      border-radius: 50%;
      transform: translateY(0.2em);
      display: grid;
      place-content: center;
      cursor: pointer;
      @include focused-outline-primary();

      &::before {
        content: '';
        width: 0.45em;
        height: 0.45em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 10em 10em black;
      }

      &:checked::before {
        transform: scale(1);
      }

      &:disabled {
        color: lightgray;
        cursor: not-allowed;
      }
    }
  }

  hr {
    border: none;
    border-bottom: 1px solid #d7d8da;
    width: 100%;
    text-align: left;
    margin-left: 0;
    margin-top: 12px;
  }

  label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
  }

  .invisible-text {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  a {
    color: $blue-2f;
    text-decoration: 1px underline solid $gray-200;

    &:hover {
      color: $blue-850;
      text-decoration-color: $blue-850;
    }

    &:active {
      color: #000;
      text-decoration-color: $blue-850;
    }

    &:focus-visible {
      outline: 1px solid $blue-550;
      border-radius: 6px;
      box-shadow: 0 0 0 3px $buttonActive;
    }
  }
}
