.external-resource-loader {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .contents {
    font-weight: 500;
    font-size: 1.5rem;
  }
}
