#editor-root .nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1em;
  padding: 0 0.5rem;
  gap: 0.5em;
  border-bottom: 1px solid #d7d8da;
  background-color: white;

  nav {
    display: flex;
    padding: 0 0.75rem 0 0.125rem;

    a {
      padding: 0.875rem 0.75rem;
      line-height: 0.875rem;
      font-size: 0.875rem;
      font-weight: 400;
      color: #000;

      &:hover {
        background-color: #d7d8da;
      }

      &.active {
        font-weight: 600;
        background-color: #d7d8da;
      }
    }
  }

  .main-title {
    font-weight: 600;
  }

  .locale-select {
    margin-left: auto;
  }
}
