.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1em;
  gap: 0.5em;
  border-bottom: 1px solid lightgray;

  .main-title {
    font-weight: 600;
  }

  .locale-select {
    margin-left: auto;
  }
}
